body {
  background-color: #2d2d30;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.title {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  margin-top: 20px;
  font-size: 2.5em; /* Increased font size */
}

.container {
  border: none;
  border-radius: 12px;
  max-width: 400px; /* Increased max-width */
  margin: auto;
  padding: 20px;
  background-color: #1a1a1d;
}

.output,
.lastOutput {
  background-color: #1a1a1d;
  color: #fff;
  font-size: 2em; /* Increased font size */
  padding: 20px; /* Increased padding */
  border-bottom: 1px solid #444;
}

.output {
  text-align: right;
}

.lastOutput {
  text-align: right;
  font-size: 1.5em; /* Increased font size */
  color: #888;
}

/* Buttons */
button {
  border: none;
  border-radius: 10px;
  font-size: 2em; /* Increased font size */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
  padding: 20px; /* Increased padding */
  color: #fff;
}

.buttons {
  background-color: #4b4b4b;
}

.buttons2 {
  background-color: #f39c12;
}

.operators {
  background-color: #2d89ef;
}

button:active {
  transform: scale(0.98);
}

/* Footer */
footer {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}

.info p a {
  color: #1a73e8;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}
